.skillsContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.skillsTitle {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.skillsSection {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .skillsSection {
    margin-top: 100px;
  }
}