.aboutSection {
  padding: 100px 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

#main {
  margin: 0;
  font-size: 100px;
  line-height: 1;
}

#subtitle {
  margin-top: 10px;
  font-size: 24px;
  color: var(--accent-color);
  margin-left: 5px;
}

#about {
  margin-top: 40px;
  font-size: 18px;
  color: var(--text-secondary);
  max-width: 70ch;
}

@media (max-width: 768px) {
  .aboutSection {
    padding-top: 150px;
  }
  #main {
    font-size: 60px;
  }
  #subtitle {
    font-size: 20px;
  }
  #about {
    font-size: 16px;
    max-width: none;
  }
}